<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>iniciar sesion</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="{% static 'css/estilos_api2.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <style>
            #carrito{
                width: 25px;
                display: inline-block;
                margin-left: 15px;
            }
        </style>
        <script type="text/javascript">
            $(document).ready(function(){
                $("#enviar").click(function(){
                    $.get("https://fortnite-api.theapinetwork.com/store/get",
                    function(data){
                        $.each(data.data,function(i,item){
                            $("#tienda").append("<tr><td>"+item.item.name+"</td><td>"+item.item.rarity+
                                "</td><td><img src='"+item.item.images.icon+"'>"+
                                    "</td><td>"+item.store.cost+"</td></tr>");
                        });
                    });
                });
            })
        </script>
    </head>
    <body>
        {% load static %}
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand navtext" href="#">
                    <img src="{% static 'img/logo1.png' %}" alt="" width="75">gamezone
                </a>

                <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="{% url 'inicio' %}">inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'nosotros' %}">nosotros</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'galeria' %}">galeria</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'api' %}">tienda fortnite</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">cerrar sesion</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'usuario' %}">{{ user.username }}</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'carrito' %}">
                            <img id="carrito" src="{% static 'img/carritoIcono.png' %}">
                        </a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="fondo">
            <div class="container">
                <div class="contenedor">
                    <div class="panel">
                        <h5>tienda actual de fortnite</h5>
                        <br>
                        <br>
                        <div class="boton">
                            <button type="button" id="enviar">cargar tienda</button>
                        </div>
                        <br>
                        <br>
                        <table class="table" id="tienda">
                            <thead>
                                <tr>
                                    <th scope="col">nombre</th>
                                    <th scope="col">rareza</th>
                                    <th scope="col">imagen</th>
                                    <th scope="col">precio</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <div class="footer-content">
                <h3>gamezone</h3>
                <p>lleva tu experiencia de juego al proximo nivel con gamezone</p>
                <ul class="redes">
                    <li><a href="#"><img src="{% static 'img/logos1.jpg' %}"></a></li>
                    <li><a href="#"><img src="{% static 'img/logos2.png' %}"></a></li>
                    <li><a href="#"><img src="{% static 'img/logos3.png' %}"></a></li>
                    <li><a href="#"><img src="{% static 'img/logos4.png' %}"></a></li>
                </ul>
            </div>

            <div class="footer-abajo">
                <p>copyright &copy;2021. diseñado por Aaron Tobar</p>
            </div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" 
            integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" 
            crossorigin="anonymous"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
</html>